<div class="col-md-6 bg-white text-center rounded-right pt-5 pb-5">
    <br>
    <h3>Change Mode</h3><br>
    <div class="flex-container">
        <div class="flex-item mb-4">
            <a href="#" onclick="changeModeIdle();" class="btn btn-block btn-success btn-lg">Idle</a>
        </div>
        <div class="flex-item mb-4">
            <a href="#" onclick="changeModeSurveillance();" class="btn btn-block btn-warning btn-lg">Surveillance</a>
        </div>
        <div class="flex-item mb-4">
            <a href="#" onclick="changeModeIntense();"class="btn btn-block btn-danger btn-lg">Intense</a>
        </div>
    </div>
</div>