<ul class="bgsidebar navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">Kelompok 8</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active pt-2 pb-2">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-chart-pie"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item  pt-2 pb-2">
        <a class="nav-link" href="/status">
            <i class="fas fa-fw fa-th-large"></i>
            <span>Mode</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item pt-2 pb-2">
        <a class="nav-link" href="ProfileUser.html">
            <i class="fas fa-fw fa-book"></i>
            <span>Profile</span></a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>